* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", "Roboto", "Helvetica", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.ui {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 700px;
    height: 90px;
    padding: 24px 12px;
}

.btn {
    width: 120px;
    padding: 8px 4px;
    border: none;
    border-radius: 4px;
    background-color: #0aad02;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;

    &:hover {
        cursor: pointer;
        background-color: #029700;
        padding: 10px;
    }
}

.container {
    display: grid;
    grid-template-rows: repeat(8, calc(800px / 8));
    grid-template-columns: repeat(8, calc(800px / 8));
    color: #f4ecde;
    width: 800px;
    height: 800px;
}

.img {
    width: 90%;
    height: 90%;
    outline: none;
    border: none;
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}