* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", "Roboto", "Helvetica", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 100vh;
    background-color: rgba(220, 220, 220, 0.8);
}

.ui {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    margin: 24px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 200px;
    height: 300px;
    padding: 24px 12px;
}

h2 {
    text-align: left;
}

.btn {
    width: 100%;
    padding: 8px 4px;
    border: none;
    border-radius: 4px;
    background-color: #0aad02;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    &:hover {
        cursor: pointer;
        background-color: #029700;
    }
}

.container {
    display: grid;
    border: 2px solid #000000;
    grid-template-rows: repeat(8, calc(800px / 8));
    grid-template-columns: repeat(8, calc(800px / 8));
    color: #f4ecde;
    width: 804px;
    height: 804px;
}

.heading {
    width: 500px;
    padding: 20px 0;
}

.img {
    width: 90%;
    height: 90%;
    outline: none;
    border: none;
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}